*{
    font-family: "Roboto", sans-serif;
  
}
.homepage{
    background-image: url("../images/Untitled.jpeg");
    background-position: center; 
    height:85vh;
    background-repeat: no-repeat;
    background-size: cover;
    

    .logo{
        height: 90px;
        padding-left: 80px;
        margin-top: 15px;

    }
    .top-bar{
        background-color: transparent;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    
        
        .top-bar-right > .menu{
            background-color: inherit; 
            color:white; 
            margin-top: -100px;
            margin-left: 100px;
            padding-right: 100px;
            padding-top: -40px;;



            .home{
                color:rgb(246,151,33);
                border-bottom: 1.5px solid rgb(246,151,33);
                
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-style: normal;
                        
            }
            
    
        }
        
        .menu li a{
            color: white;

        }
        
        
        .button{
            color: white;
            background-color: rgb(246,151,33);
            margin-top: -140px;
            margin-left: -200px;
            
            border-radius: 20px;
            padding-left: 25px;
            padding-right: 25px;

        }
    
        
    }
    .content{
        color:white;
        text-align: center;
        font-size: 80px;
        font-weight: 700;
        margin-top: 160px;

      .strong{
        color:rgb(246,151,33);
        border-bottom: 2px dashed rgb(246,151,33);
        
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
      }  
        
        
    }
    .down{
        border:2px dashed white;
        border-radius: 40px;
        color:white;
        padding: 10px;
        font-size:25px
       
        

    }
}

.aboutus{
    padding-top: 20px;

    .fa-message{
        color:white;
        padding:15px;
        margin-left:1250px;
        background-color: rgb(246,151,33);
        border:2px solid rgb(246,151,33);
        border-radius: 40px;
        transform: rotate(-10deg);
        font-size:25px;
        
       
    }
    .first{
        margin-top: 40px;
        padding-left:100px;

        .top{
            font-weight: 300;
            font-style: normal;
            font-size: 16px;
            letter-spacing: 0.4em;
            color:rgb(75, 75, 75)

        }
        .sub{
            font-size: 25px;
            font-weight: 500;
            font-style: normal;
            word-spacing: 0.4rem;
        }
        p{
            color:rgb(75, 75, 75);
            font-size:15px
        }
        .par{
            padding-bottom: 30px;
        }
        button{
            color: white;
            background-color: rgb(246,151,33);
            border-radius: 20px;
            padding-left: 25px;
            padding-right: 25px;
            font-weight: 500;
            font-style: normal;

        }
    }
    .second{
        margin-top: 80px;
        img{
            width: 480px;
            height: 300px;
            
        }
        .strip{
            transform: scaleY(-1);
            margin-top: -420px;
            height:580px;
            margin-left:230px;
            width:150px;
            rotate:calc(5deg);
            z-index: -2;
            position: relative;
            
        
        }
    }
    
}
.services{
    padding-top: 0px;
    margin-left: -16px;
    .top{
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        letter-spacing: 0.3em;

        color:rgb(62, 62, 62)

    }
    .sub{
        font-size: 25px;
        font-weight: 500;
        font-style: normal;
        padding-bottom: 40px;
        word-spacing: 0.2em;

    }
    .img{
        width: 50px;
        height:50px;
    }
    .carousel{
    
        .fa{
            font-size: 30px;
            color:rgb(246,151,33);
            padding-right: 5px;
            margin-top: 10px;
    
    
        }
        .fa-arrow-right{
            font-size: 18px;
            color:rgb(246,151,33);
            margin-left: 6px;

        }
        .card-title{
            margin-left:45px;
            margin-top:-40px;
        }
        a{
            font-size: 14px;
            font-weight: 600;
            font-style: normal;
            color:rgb(246,151,33);
        }
        h5{
            font-weight: 700;
            font-style: normal;
            font-size: 18px;
        }
        .img{
            width: 50px;
        }
        p{
            font-size: 15px;
        }
    }
    .carousel-inner {
        padding: 1em;
        padding-bottom:80px;


    
     
    
      }
      
      .card {
        margin: 0 0.5em;
        border: none;
        width: 325px;
        height: 355px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Light gray box shadow */
        transition: box-shadow 0.3s ease;
    
      }
      
    
    .carousel-indicators {
        display: flex;
        justify-content: center;
        margin-top: 20px; /* Adjust spacing as needed */
        
    }
    
    .carousel-indicators button {
        border: none; /* Remove border */
        background-color: lightgray; /* Set the default color of the circle */
        margin: 0 5px; /* Adjust spacing between circles */
        padding:1px;
        border-radius: 10px;
        height: 5px;
        width: 5px;

        
        
    }
    .carousel-item {
        transition: transform 0.5s ease; /* Smoothly transition the transform property */
    }
    
    .carousel-item.active {
        transform: translateX(0); /* Show active item at the center */
    }
    
    
    
}

.circ{
    height: 470px;
    margin-top: -280px;
    margin-left:390px;
    transform: rotate(180deg);
    position: relative;
    z-index: -1;
    

}
.more{
    margin-top:-175px;
    padding-top: 80px;
    .top{
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        letter-spacing: 0.3em;

        color:rgb(62, 62, 62);
        margin-left: -80px;
       

    }
    .sub{
        font-size: 25px;
        font-weight: 500;
        font-style: normal;
        word-spacing: 0.4rem;
        padding-bottom: 50px;
        padding-right:200px;

    }
    .parts{
        margin-left:200px;
    }
    .second{
        margin-top: -10px;
        padding-right:90px;

        .top1{
            font-size: 25px;
            font-weight: 500;
            font-style: normal;

            

        }
        .sub1{
            margin-top: -10px;
            font-weight: 300;
            font-style: normal;
            font-size: 16px;
            color:rgb(75, 75, 75)
        }
        p{
            color:rgb(75, 75, 75);
            font-size:15px
        }
        
        .room{
            color: rgb(246,151,33);
            font-weight: 500;
            font-style: normal;
            font-size:20px;
            padding-bottom: -45px;


        }
        .fa-solid{
            font-size: 12px;
        }
        .one{
            color: orange;
        }
    }
    .part1{
        margin-left: 190px;
    }
    .first{
        margin-top: 0px;

        img{
            width: 500px;
            height: 380px;
            margin-top: -10px;

            
        }
        .a{
            margin-left:185px;
            margin-top:-60px;
            color:white;
            border-bottom:2px solid white;
            padding-left: 5px;

        .fa{
            padding-left: 10px;
            transform: rotate(-40deg);
        }

        }
    }
    .second{
        p{
            font-size:16px;
            font-weight: 400;
            font-style: normal;
            line-height: 16px;
            color:grey;
        }
        .bd{
            margin-top:-10px
        }
    }
    .part2{
        margin-top:40px;
        padding-bottom: 40px;
        padding-left: -10px;
        padding-right: 180px;

        img{
            border-radius: 10px;
            height:200px;

        }
        p{
            margin-top: -50px;
            color:white;
            font-weight: 500;
            font-style: normal;
            font-size: 18px;

            padding-left: 20px;
        }
    }
    

}

.strip2{
    height: 130px;
    margin-left:700px;
    margin-top: -32px;
}
.properties{
    margin-top: -80px;
    background-color:rgb(2,92,80) ;
    color:white;
    padding-top: 80px;
    padding-bottom: 50px;
    

    .ch{
        font-size:15px;
        opacity:0.4;
        width:200px;
        margin-left: 490px;;

    }

    .cs{
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        letter-spacing: 0.3em;

    }
    .prop{
        font-size: 25px;
            font-weight: 500;
            font-style: normal;

    }
    .dm{
        font-size:10px;
        opacity:0.4;
        padding-bottom: 30px;
    }
    .sub{
        font-size: 15px;
    }
    .part2{
        padding-left: 100px;
        padding-right: 100px;
        position: relative;
        
        img{

            width:220px;
            height: 220px;
            
        }
        .fa{
            margin-top: 10px;
            position: absolute;
            margin-left: -30px;
        }
       
    }
    button{
        color: white;
        background-color: rgb(246,151,33);
        border-radius: 20px;
        padding-left: 28px;
        padding-right: 28px;
        font-weight: 500;
        font-style: normal;
        margin-left: 20px;
        margin-top: 50px;

    }
    .but{
        color:white;
    }

}
.cont{
    padding-top: 100px;
    padding-bottom: 60px;
    padding-left: 50px;
    .first{
        .pls{
            font-size: 28px;
            font-weight: 300;
            font-style: normal;
            line-height: 32px;

        }
        .us{
            color:rgb(246,151,33);
            font-weight: 500;
            font-style: normal;
            font-size: 18px;
        }
        .first1{
            margin-left:-40px;
        }
        .col{
            color:rgb(73, 70, 70);
            font-size: 14px;
        }
    }
    .second{
        margin-top: 100px;
        margin-left: 50px;
        .top{
            font-size: 28px;
            font-weight: 500;
            font-style: normal;

        }
        .form-input {
            border: none; /* Remove default input border */
            border-bottom: 1px solid rgb(151, 151, 151); /* Add bottom border */
            margin-bottom: 1rem; /* Add spacing between input fields */
            width: 80%; /* Full width for input fields */
            padding: 5px; /* Add padding inside input fields */
            background-color: transparent;
            box-shadow: none;
            color:black
        }

        /* Center align the submit button */
        .form-submit {
            text-align: center;
            
        }
        .forms{
            font-size: 10px;
            color:grey
        }
        .button{
            color: white;
        background-color: rgb(249,174,48);
        border-radius: 20px;
        padding-left: 38px;
        padding-right: 38px;
        font-weight: 500;
        font-style: normal;
        margin-left: -420px;
        }

    }
}
.others{
    background-color:rgb(2,92,80) ;
    text-align: center;
    color:white;
    padding-bottom: 40px;
    font-family: "Roboto";

    .weight{
        font-weight: 500;
        font-size: 13px;
    }
    

    .image{
        
        margin-top: 50px;
        height:140px;
        padding-bottom: 50px;  
        
    } 
    hr{
        color:white;
        border-top-width: 1px;
        /* margin:0 */

    }
    
    .second{
        padding-top: 40px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        
        .one,.two,.three{
            padding-left:10px;
            
        }
        .nai{
            margin-left:-55px
        }
        .align{
            text-align: left;
            margin-left: 35px;

        }
        .input-with-button {
            position: relative;
            display: inline-block;
        }
        .buttons{
            background-color: rgb(249,174,48);
        }
        .input-with-button input[type="email"] {
            padding-right: 40px; /* Adjust as needed to accommodate the button */
            border: none; /* Remove border */
            background-color: #0d5248; /* Transparent background color */
            border-radius: 30px; /* Rounded corners */
            width:350px;
            height: 50px;
            padding: 20px;
        }
    
        .input-with-button button {
            position: absolute;
            top: 10%;
            right: 2%;
            padding:10px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 20px;
            /* background-color: rgba(194, 120, 3) */

        }
        button{
            color: white;
        }
    }
    .three {
        padding-left: 20px;
        ul{
                margin-left: 100px;
                li{
                    padding-left:20px
                
                }  
        }
        
             
            .fa{
                
                padding:5px;
                border:1px solid white;
                border-radius:20px;
                
                ;
            }
            .fa-facebook-f{
                padding-left: 8px;
                padding-right: 8px;
                text-align: center;
            }
            img{
                margin:-4px;
            }
    }
    
      
    
}
footer{
    background-color:rgb(6,55,48) ; 
    color: white;
    font-size: 11px;
    .row{
        padding: 8px;
        .menu li a{
            color: white;

        }
        .copy{
            padding-top:10px;
        }
    }
}




@media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 calc(100%/3.9);
      display: block;
      
    }
    .carousel-inner {
      display: flex;
    }
}
  .card .img-wrapper {
      width: 380px;
      height: 10em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
    .homepage{
        .title-bar{
            background-color: transparent;

        }
        #responsive-menu{
            background-color: rgb(73, 73, 73);
            height:30vh;
            margin-top: -22px;
            opacity:0.8;

        }
        .content{
            margin-top: 120px;
        }
        .menu-icon{
            margin-left: 280px;
            margin-top: 10px;
            

        }
        .title-bar-title{
            margin-top: 10px;


        }
        .top-bar-left{
            img{
            margin-top: -60px;
            height: 50px;
            margin-left:-70px
            }
        }
        .top-bar-right{
            margin-top: 90px;
            margin-left: 20px;

            .menu{
                padding-right: 200px;
                .home{
                    margin-left: 10px;
                }
            }
            .button{
                margin-left:90px;
            }
        }
    }
    .aboutus{


        .fa-message{
            margin-left: 300px;
        }
        .first{
            
            margin-left:-50px;
            margin-top: -5px;
            .sub{
                font-size: 20px;
            }

        }
        .second{
            margin-top: 110px;
            padding-bottom: 50px;
            .strip{
                margin-left:150px;
                height:500px;
                margin-top: -400px;

            }
        }
    }
    .services{
        .sub{
            padding-left:15px;
            font-size: 23px;

        }
        .carousel{
            margin-left:20px;
            margin-top: -20px;
        }
    }
    .circ{
        margin-left: 100px;
        height: 400px
    }
    .more{
        .sub{
            margin-left: -70px;
        }
        .parts{
            margin-left: 5px;
        }
        .first{
            margin-top: -30px;

            .logo{
            }
            img{
                padding: 10px;
                height: 300px

            }
            .a{
                margin-left: 100px;
                

            }
        }
        .second{
            margin-left: 20px;
            padding:20px;
            margin-top: -20px;

            .top1{
                font-size: 20px;
                margin-top: 40px;

            }

        }
        .part2{
            padding-right: 10px;
            .first{
                padding-bottom: 40px;
                .logo{
                    padding: 10px;        
                    
                   } 
            }
           
           p{
            margin-top: -60px;
            padding-bottom: 20px;


           }
        }
    }
    .strip2{
        margin-left:160px;
        margin-top:-95px
    }
    .properties{
        margin-top: -60px;
        .ch{
            margin-left: 80px;
            margin-top: -20px;
            padding-bottom: 10px;

        }
        .sub{
            padding-left:20px;
            padding-right:20px

        }
        .part2{
            padding-right: 10px;
            margin-left: -40px;

            .first{
                padding-bottom: 20px;
            }
        }
        .but{
            margin-left: -15px;
            margin-top: 10px;
            padding-bottom: 10px;
        }
    }
    .cont{
        margin-top: -30px;

        .first{
            margin-left: -5px;

            .secs{
                margin-left: 10px;
            }
        }
        .second{
            margin-left: -5px;
            margin-top: 30px;

            .button{
                margin-left: -180px;
            }

        }
    }
  }